<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">免费抽奖</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#">
                        <img src="../../../media/20190711150843.jpg" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关注Sneaker</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                           <li class="zhihu">
                               <a href="#" target="_blank">敬请期待</a>
                           </li>
                            <li class="weibo">
                               <a href="#" target="_blank">敬请期待</a>
                           </li>
                            <li class="toutiao">
                               <a href="#" target="_blank">敬请期待</a>
                           </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">网站处于测试阶段,如果发现BUG,请扫码提交给作者</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">村上隆xGalerie Perrotin 再度合作，推出独家系列产品</a>
                                </p>
                                <p class="more">
                                    <span class="category">最新服饰</span>
                                    <span class="pub-time">1小时前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="../../../media/11e6211c942755f292b6fedeafe9c38f.jpg" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">YEEZY BOOST与Air Jordan 1的上半年</a>
                                </p>
                                <p class="more">
                                    <span class="category">Yeezy</span>
                                    <span class="pub-time">1天前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="../../../media/750x750_9c9aa6adbb7e7213b0a514c5084aad14.jpeg" alt="">
                                </a>
                            </div>
                        </li>
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="#">Vapormax多色补货，白水泥AJ5预售低价！</a>
                                </p>
                                <p class="more">
                                    <span class="category">发售</span>
                                    <span class="pub-time">3天前</span>
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="../../../media/650x445_78c83f71a2802e866514e2ac83775c9b.gif" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>